:root {
    --font: "montserrat", san-serif;
    --bgcolor:  rgb(160, 91, 91);
    --txtcolor: white;
    --hover: blue;
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: var(--font);
}

#navbar {
    width:100%;
    height:50px;
    background-color: var(--bgcolor);
    text-align: right;
    padding:10px 20px 0px 0px;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
}

#nav-link{
    color: var(--txtcolor);
    text-decoration: none;
    padding: 30px;
}

#nav-link:hover {
    color:var(--hover);
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0px 20px;
}

hr {
    width: 80%;
}

#welcome-section{
    width: 100%;
    height: 150vh;
    background-image: url(img/kalutu.jpeg);
    background-size: cover;
    opacity: 0.8;
    padding: 50px 0px 0px 100px;
    position: relative;
}

h1 {
    margin-top: 30px;
    font-weight: 700;
    font-size: 60px;
    color: black
}
h4 {
    margin-top:-50px;
    padding-left: 120px;
    font-size: 20px;
}

.resume {
    text-decoration: none;
    color: white;
    position: absolute;
    left: 240px;
    padding: 10px;
    margin-top: -15px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(25, 23, 23);
}

.resume:hover {
    background-color: var(--bgcolor);
}

/*Small sized screens*/
@media (max-width: 560px) {
    #nav-link {
        padding: 5px;
    }

    #welcome-section {
        height: 50vh;
    }

    h1 {
      font-size: 20px;
      margin-top: 0px;
      margin-left: -90px;
    }

    h4{
        margin-top: -10px;
        font-size: 12px;
        padding-left:0px;
        margin-left: -80px;
    }

    .resume{
        font-size: 10px;
        left: 34px;
        padding: 5px;
        margin-top: -10px;
    }
}

/*Medium sized screens*/
@media (min-width: 561px) and (max-width: 1200px){
    #welcome-section {
        height: 90vh;
    }

    h1 {
        font-size: 40px;
        margin-left: -70px;
    }
    h4 {
        font-size: 15px;
        margin-top: -30px;
        padding-left: 0;
    }

    .resume{
        font-size: 12px;
        left: 120px;
        padding: 5px;
        margin-top: -10px;
    }
}

.title {
    text-align: center;
}

#projects {
    width: 100%;
    height: 1300px;
}

#projects p {
    text-align: center;
    font-size: 25px;
}

.flex {
    width: 100%;
    height: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-title {
    width: 30%;
    height: 500px;
    background-color: var(--bgcolor);
    margin: 10px;
    border-radius: 10px;
    border: 2px solid var(--bgcolor);
}

/*Small sized screens*/
@media (max-width: 560px){

    #projects {
        height: 3400px;
        
    }

    .flex {
        height: 3200px;
        flex-direction: column;
        flex-wrap: nowrap;
        
    }
    .project-title {
        width: 100%;
    }

}

/*medium sized screens*/
@media (min-width: 561px) and (max-width: 999px){
    #projects {
        height: 1800px;
        border: 2px solid;
    }

    .flex {
        height: 1600px;
        flex-direction: column;
    }
    .project-title {
        width: 50%;
    }
}


figure{
    height: 500px;
    width: 100%;
    margin: 1px 10px 10px 0px;
}

.image {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    padding-top: 2px;
    object-fit: fill;
}

figcaption {
    text-align: center;
    font-size: larger;
}

figcaption a {
    text-decoration: none;
    color: var(--txtcolor);
}

figcaption a:hover {
    color: var(--hover);
}

.description {
    margin-top: 20px;
    text-align: center;
    font-size: 11px;
    color: var(--txtcolor);
}
.button {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 100%;
    width:25%;
    color:var(--txtcolor);
    background-color: var(--bgcolor);
    font-family: var(--font);
    font-size: larger;
    border-radius: 10px;
    border: none;
}

button a {
    text-decoration: none;
    color: var(--txtcolor);
}

button a:hover{
    color: var(--hover);
}

.contact-section {
    width: 100%;
    height: 350px;
    background: var(--bgcolor);
}

@media (max-width:340px)
{
    .contact-section {
        height: 400px;
      }
}

.contact-section-header {
    text-align:center;
    color: var(--txtcolor);  
}

.contact-section-header > h2{
    font-size: 50px;
    margin-bottom: -10px;
}
  
.contact-section-header > p {
    font-style: italic;
    font-size: 20px;
}

.contact-links {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-links a {
    text-decoration: none;
    color: black;
}

.contact-links p {
    margin-top: -5px;
    padding-left: 5px;
}
.contact-links p:hover {
    color: var(--hover);
}
footer {
    background-color: black;
    opacity: 0.7;
    height: 30px;
}

footer p {
    color: var(--txtcolor);
    text-align: center;
    padding-top: 5px;
}
